<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二叉树可视化</title>
    <script src="../../lib/vue.min.js"></script>
    <style>

        #text {
            width: 420px;
            height: 30px;
        }

        .node {
            margin: 0 auto;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid #000;
            box-sizing: border-box;
            text-align: center;
            line-height: 60px;
            user-select: none;
        }

        .line-box {
            position: relative;
            height: 120px;
        }

        .recreate-btn {
            margin: 7px 0;
        }


    </style>
</head>
<body>

<main id="app">
    <label for="text">
        Origin:
        <input type="text" id="text" v-model="originRaw">
    </label>
    <br>
    <label for="range">
        Range:
        <input type="range" id="range" max="1" min="0" step="0.01" v-model="scale">
    </label>
    <br>
    <button class="recreate-btn" @click="recreate">Recreate</button>
    <div :style="setTreeBox()">
        <div v-for="(row, rowIdx) in root"
             :key="row.len"
             :style="setRowStyle()">
            <div v-for="(node, nodeIdx) in row.nodes"
                 :key="nodeIdx"
                 :style="setNodeStyle(row.len)">
                <div class="node" v-if="node">
                    {{ node }}
                </div>
                <div class="line-box" :style="setLineBoxStyle(row.len)">
                    <div :style="setLineStyle(row.len, rowIdx, nodeIdx, 0)"></div>
                    <div :style="setLineStyle(row.len, rowIdx, nodeIdx, 1)"></div>
                </div>
            </div>
        </div>
    </div>

</main>

<script>

    const {reactive, ref} = Vue

    const setLine = (x1, y1, x2, y2) => {
        const rectX = Math.min(x1, x2)
        const rectY = Math.min(y1, y2)
        const rectWidth = Math.abs(x1 - x2)
        const rectHeight = Math.abs(y1 - y2)
        const width = Math.ceil(Math.sqrt(rectWidth ** 2 + rectHeight ** 2))
        const height = 2
        const xPad = (rectWidth - width) / 2
        const yPad = (rectHeight - height) / 2
        const radNum = -Math.atan2((y1 - y2), (x1 - x2))
        return {
            position: 'absolute',
            backgroundColor: '#000',
            width: `${width}px`,
            height: `${height}px`,
            transform: `translate(${rectX + xPad}px, ${rectY + yPad}px) rotate(${radNum}rad)`
        }
    }

    const setShow = (nextObj, idx) => {
        const isShow = nextObj === undefined ? false : !(nextObj.nodes[idx] === null || nextObj.nodes[idx] === undefined)
        return {
            display: isShow ? '' : 'none'
        }
    }

    const binaryTree = () => {
        const origin = reactive([7, 3, 15, null, null, 9, 20])
        const root = reactive([])
        const width = ref(0)
        const originRaw = ref('')

        const createBinaryTree = () => {
            const originList = [...origin]
            const rootList = []
            let curIdx = 0
            let curLen = 1
            while (curLen < originList.length) {
                rootList.push({
                    len: curLen,
                    nodes: originList.slice(curIdx, curIdx + curLen)
                })
                curIdx += curLen
                curLen *= 2
            }

            const last = rootList[rootList.length - 1]
            last.nodes.push(...new Array(last.len - last.nodes.length).fill(null))
            width.value = last.len * 120
            root.push(...rootList)
        }

        const setRowStyle = () => ({
            display: 'flex',
            justifyContent: 'center',
            width: `${width.value}px`,
            height: '180px'
        })

        const setNodeStyle = len => ({
            width: `${100 / len}%`
        })

        const setLineBoxStyle = len => ({
            width: `${width.value / len / 2}px`,
            marginLeft: `${width.value / len / 4}px`
        })

        const setLineStyle = (len, rowIdx, nodeIdx, mark) => {
            const left = {
                ...setLine(0, 0, width.value / len / 4, 120),
                ...setShow(root[rowIdx + 1], nodeIdx * 2)
            }
            const right = {
                ...setLine(width.value / len / 4, 120, width.value / len / 2, 0),
                ...setShow(root[rowIdx + 1], nodeIdx * 2 + 1)
            }

            return mark === 0 ? left : right
        }

        return {
            origin, root, width, originRaw,
            createBinaryTree,
            setRowStyle,
            setNodeStyle,
            setLineBoxStyle,
            setLineStyle
        }
    }

    const treeBox = () => {
        const scale = ref(1)
        const setTreeBox = () => ({
            transform: `scale(${scale.value})`
        })
        return {
            scale, setTreeBox
        }
    }

    const setEntireList = list => {
        const maxDepth = list.filter(item => item !== null).length
        // 最大可能节点数量
        const maxNodeNums = Array(maxDepth).fill(0).map((_, idx) => idx).reduce((sum, num) => sum + 2 ** num, 0)
        // 补充 null
        const toEntire = () => {
            for (let i = 0; i < maxNodeNums; i++) {
                if (list[i] === null) list.splice(2 * i + 1, 0, null, null)
            }
        }
        toEntire()
        return list
    }

    const localStore = {
        setup() {

            const {scale, setTreeBox} = treeBox()
            const {origin, root, width, originRaw, createBinaryTree, setRowStyle, setNodeStyle, setLineBoxStyle, setLineStyle} = binaryTree()

            createBinaryTree()

            const recreate = () => {
                origin.length = 0
                root.length = 0
                origin.push(...setEntireList(JSON.parse(originRaw.value)))
                createBinaryTree()
            }

            return {
                scale,
                setTreeBox,
                origin, root, width, originRaw,
                setRowStyle, setNodeStyle, setLineBoxStyle, setLineStyle,
                recreate
            }

        }
    }

    Vue.createApp(localStore).mount('#app')

</script>

</body>
</html>


